.content-wrapper {
	width: 80%;
	margin: 0 auto;
    display: flex;
	flex-wrap: wrap;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vCenter {
    height: 70vh;
    display: flex;
    align-items: center;
}