.box {
    width: 400px;
  	background-color: var(--color_bg_box);
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin-top: 15vh;
}

.box .links {
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0;
}
.box .links a {
    padding: 10px 40%;
}

.box form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.box form input[type="password"], .box form input[type="text"], .box form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid var(--color_border);
    margin-bottom: 20px;
    padding: 0 15px;
}

.box form input[type="submit"], .box form button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--color_bg_box_submit);
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: var(--color_txt_h_1);
    transition: background-color 0.2s;
}

.box form input[type="submit"]:hover, .box form button:hover {
  background-color: var(--color_bg_box_submit_hover);
    transition: background-color 0.2s;
}

.box h1 {
    text-align: center;
  	color: var(--color_txt_h_1);
  	font-size: var(--size_tx_h1_3);
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid var(--color_border);
}

.box a {
    font-size: 20px;
    color: var(--color_txt_p_1);
    text-decoration: none;
}

.box p {
	color: var(--color_txt_p_1);
}