/* Header */
header {
	background-color: var(--color_bg_header);
}

header .content-wrapper {
	display: flex;
	align-items: center;
	position: relative;
}

header .content-wrapper a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
}

header .content-wrapper a h1 {
	font-size: var(--size_text_header_h1);
	padding: 0;
	color: inherit;
}

header img {
	margin: 5px;
}

header {
	color: var(--color_txt_h_1);
}

header a {
	text-decoration: none;
}

header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

header nav a {
	text-decoration: none;
	color: inherit;
	margin: 0 2px;
	font-size: var(--size_text_header);

}

header nav a i {
	font-size: 18px;
}

header nav a span {
	display: inline-block;
	text-align: center;
	background-color: var(--color_bg_background);
	border-radius: 50%;
	color: inherit;
	font-size: var(--size_text_header_span);
	line-height: var(--size_item_span);
	width: var(--size_item_span);
	height: var(--size_item_span);
	font-weight: bold;
	position: absolute;
	top: var(--place_item_span_top);
	right: var(--place_item_span_right);
}