* {
    /* color site */
    --color_bg_background:              #0077B6;

    /* content text size */
    
    --size_txt_h1:                      50px;
    --size_txt_h2:                      40px;
    --size_txt_h3:                      35px;
    --size_txt_h4:                      30px;
    --size_txt_h5:                      25px;
    --size_txt_h6:                      20px;

    --size_txt_p:                       17px;

    /* content text color */

    --color_txt_h_1:                    #00B4D8;
    --color_txt_h_2:                    #03045E;

    --color_txt_p_1:                    var(--color_txt_h_1);
    --color_txt_p_2:                    var(--color_txt_h_2);

    /* header text size */
    --size_txt_header_h1:               25px;
    --size_txt_header:                  var(--size_txt_p);

    /* header color */
    --color_bg_header:                  #03045E;
    --color_txt_header:                 #0096C7;


    /* footer color */
    --color_bg_footer:                  #023e8a;
    --color_txt-footer:                 #00b3d6;
    
    /* footer text size */
    --padding_footer_top:               20px;
    --padding_footer_bottom:            var(--padding_footer_top);     


    /* login text size */
    --size_txt_h_login:                 var(--size_txt_h1);
    --size_txt_p_login:                 var(--size_txt_p);
    --size_txt_button_login:            var(--size_txt_p_login);

    /* login text color */
    --color_txt_h_login:                var(--color_txt_h_2);
    --color_txt_p_login:                var(--color_txt_p_1);
    --color_txt_login_input:            var(--color_txt_p_2);
    --color_txt_button_login:           var(--color_txt_p_1);
    --color_txt_button_login_hover:     var(--color_txt_p_2);
    --color_txt_discord_login:          var(--color_txt_p_1);
    --color_txt_discord_login_hover:    var(--color_txt_p_2);

    /* login color */
    --color_bg_login:                   #01518E;
    --color_border_login:               #0077B6;
    --color_border_input_login:         #0096C7;

    --color_bg_login_input:             var(--color_bg_background);
    
    --color_bg_login_submit:            #03045E;
    --color_bg_login_submit_hover:      #023E8A;

    --color_bg_login_discord:           #424549;
    --color_bg_login_discord_hover:     #424549;

    --color_slider_on_login:            #0099CC;
    --color_slider_dot_login:           #03045E;


    /* asset link button text size */

    --size_txt_button_assetList:        var(--size_txt_h3);

    /* asset link button text color */
    --color_txt_assetList_link:         var(--color_txt_p_2);
    --color_txt_assetList_link_hover:   var(--color_txt_p_1);


    /* asset link button color */
    --color_bg_assetList_link:          var(--color_bg_login);
    --color_bg_assetList_link_hover:    var(--color_bg_login_submit_hover);


    /* asset table text size */
    --size_txt_p_assetList:             var(--size_txt_p);

    /* asset color */
    --color_bg_thead_assetList:         var(--color_bg_header);
    --color_bg_tbody_assetList:         var(--color_bg_login);
    --color_bg_tbody_assetList_hover:   var(--color_bg_login_submit_hover);

    --color_bg_assetList_delete:        var(--color_bg_thead_assetList);
    --color_bg_assetList_delete_hover:  var(--color_bg_background);

    /* asset text color */
    --color_h_table_assetList:          var(--color_txt_p_1);
    --color_p_table_assetList:          var(--color_txt_p_2);
    --color_p_table_assetList_hover:    var(--color_txt_p_1);

    --color_txt_assetList_delete:       var(--color_txt_p_1);
    --color_txt_assetList_delete_hover: var(--color_txt_p_2);

    /* asset table border radius */
    --borderR_thead_assetList:          3px;
    --borderR_tbody_assetList:          20px;


    /* asset borrow text color */
    --color_txt_h_borrow:               var(--color_txt_h_login);
    --color_txt_p_borrow:               var(--color_txt_p_login);
    --color_txt_borrow_input:           var(--color_txt_login_input);
    --color_txt_button_borrow:          var(--color_txt_p_1);
    
    /* asset borrow text size */
    --size_txt_h_borrow:                var(--size_txt_h_login);
    --size_txt_p_borrow:                var(--size_txt_p_login);
    --size_txt_button_borrow:           var(--size_txt_p_login);

    /* asset borrow color */
    --color_bg_borrow:                  var(--color_bg_login);
    --color_border_borrow:              var(--color_border_login);
    --color_border_input_borrow:        var(--color_border_input_login);

    --color_bg_borrow_input:            var(--color_bg_login_input);
    --color_bg_borrow_submit:           var(--color_bg_login_submit);


    /* asset import text color */
    --color_txt_h_import:               var(--color_txt_h_login);
    --color_txt_p_import:               var(--color_txt_p_login);
    --color_txt_import_input:           var(--color_txt_login_input);
    --color_txt_button_import:          var(--color_txt_p_1);
    

    /* asset import text color */
    --size_txt_h_import:                var(--size_txt_h_login);
    --size_txt_p_import:                var(--size_txt_p_login);
    --size_txt_button_import:           var(--size_txt_p_login);
    
    /* asset import text color */
    --color_bg_import:                  var(--color_bg_login);
    --color_border_input_import:        var(--color_border_input_login);

    --color_bg_import_input:            var(--color_bg_login_input);
    --color_bg_import_submit:           var(--color_bg_login_submit);


}