RewriteEngine on

RewriteRule ^login$ index.php?page=login/login [NC]
RewriteRule ^register$ index.php?page=login/register [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]