.createCode {
    width: 100%;
    display: flex;
    justify-content: center;
}

.createCode form input {
    height: 40px;
    border: 1px solid var(--color_border);
    padding: 0 15px;
}

.createCode form input[type="number"] {
    width: 100px;
}

.createCode form input[type="datetime-local"] {
    width: 300px;
}

.createCode form button {
    height: 40px;
    background-color: var(--color_bg_box_submit);
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: var(--color_txt_h_1);
    transition: background-color 0.2s;
}

.createCode table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}

.createCode table thead {
    background-color: #585858;
    border-bottom: 1px solid #d3dae0;
}

.createCode table thead td {
  padding: 0px;
  font-weight: bold;
  color: var(--color_h_table);
  font-size: 14px;
}

.createCode table tbody tr {
  border-bottom: 1px solid #d3dae0;
}

.createCode table tbody tr:nth-child(even) {
  background-color: #909090;
}

.createCode table tbody tr:hover {
  background-color: inherit;
}

.createCode table tbody tr:hover td {
  color: inherit;
}

.createCode table tbody tr td {
  padding: 0px;
}